html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.table-container {
  max-width: 940px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.table-item {
  padding: 10px 63px;
  background: rgba(0,188,212,0.31);
}

.template-item {
  padding: 10px 58px;
}

.template-actions {
  display: flex;
  padding: 0 10px;

}

.template-btn {
  width: 65px;
  height: 30px;
  margin: 0 10px 0 0;
  padding: 5px;
}

.edit {
  background: rgba(33, 150, 243, 0.5);
  border-color: transparent;
  border-radius: 10px;
}

.delete {
  background: rgba(233, 30, 99, 0.5);
  border-color: transparent;
  border-radius: 10px;
}

.invisible {
  display: none;
}

.add-btn {
  width: 80px;
  height: 40px;
  background: rgba(3, 169, 244, 0.6);
  border: transparent;
  border-radius: 10px;
}
